In [1]:
import numpy as np
import pandas as pd

In [2]:
grouped_single = df.groupby('School')

NameError: name 'df' is not defined

In [4]:
type(grouped_single)

pandas.core.groupby.generic.DataFrameGroupBy

In [8]:
grouped_single.get_group('S_1').tail()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-

In [9]:
grouped_mul = df.groupby(['School','Class'])
grouped_mul.get_group(('S_2','C_4'))

     School Class Gender   Address  Height  Weight  Math Physics
ID
2401    S_2   C_4      F  street_2     192      62  45.3       A
2402    S_2   C_4      M  street_7     166      82  48.7       B
2403    S_2   C_4      F  street_6     158      60  59.7      B+
2404    S_2   C_4      F  street_2     160      84  67.7       B
2405    S_2   C_4      F  street_6     193      54  47.6       B

In [10]:
grouped_single.size()

School
S_1    15
S_2    20
dtype: int64

In [11]:
grouped_mul.size()

School  Class
S_1     C_1      5
        C_2      5
        C_3      5
S_2     C_1      5
        C_2      5
        C_3      5
        C_4      5
dtype: int64

In [12]:
grouped_single.ngroups

2

In [13]:
grouped_mul.ngroups

7

In [17]:
for name,group in grouped_single:
    print(name)
    display(group.head())

S_1

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

S_2

     School Class Gender   Address  Height  Weight  Math Physics
ID
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2104    S_2   C_1      F  street_5     159      97  72.2      B+
2105    S_2   C_1      M  street_4     170      81  34.2       A

In [24]:
df.set_index(['Gender','School']).groupby('School').get_group('S_1').head()

              Class   Address  Height  Weight  Math Physics
Gender School
M      S_1      C_1  street_1     173      63  34.0      A+
F      S_1      C_1  street_2     192      73  32.5      B+
M      S_1      C_1  street_2     186      82  87.2      B+
F      S_1      C_1  street_2     167      81  80.4      B-
       S_1      C_1  street_4     159      64  84.8      B+

In [25]:
print([attr for attr in dir(grouped_single) if not attr.startswith('_')])

['Address', 'Class', 'Gender', 'Height', 'Math', 'Physics', 'School', 'Weight', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [31]:
grouped_single.first()

       Class Gender   Address  Height  Weight  Math Physics
School
S_1      C_1      M  street_1     173      63  34.0      A+
S_2      C_1      M  street_7     174      84  83.3       C

In [34]:
df.shape

(35, 8)

In [35]:
np.random.choice(['a','b','c'],df.shape[0])

array(['a', 'b', 'b', 'a', 'b', 'c', 'b', 'b', 'b', 'c', 'b', 'c', 'c',
       'b', 'b', 'c', 'b', 'c', 'c', 'c', 'b', 'a', 'a', 'a', 'c', 'a',
       'a', 'c', 'b', 'c', 'a', 'b', 'b', 'b', 'c'], dtype='<U1')

In [41]:
df[:5].groupby(lambda x:print(x)).head(0)

1101
1102
1103
1104
1105

Empty DataFrame
Columns: [School, Class, Gender, Address, Height, Weight, Math, Physics]
Index: []

In [42]:
df.groupby(lambda x:'奇数行' if not df.index.get_loc(x)%2==1 else '偶数行').groups

{'偶数行': Int64Index([1102, 1104, 1201, 1203, 1205, 1302, 1304, 2101, 2103, 2105, 2202,
             2204, 2301, 2303, 2305, 2402, 2404],
            dtype='int64', name='ID'),
 '奇数行': Int64Index([1101, 1103, 1105, 1202, 1204, 1301, 1303, 1305, 2102, 2104, 2201,
             2203, 2205, 2302, 2304, 2401, 2403, 2405],
            dtype='int64', name='ID')}

In [3]:
sb = pd.read_excel('SuperBio529.xlsx',sheet_name='1')

In [4]:
sb = sb.replace('plasma','Plasma')

In [5]:
sb.info

<bound method DataFrame.info of      Sample ID                                       Institution  Sample Type  \
0            1  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
1            2  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
2            3  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
3            4  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
4            5                       Superbio Clinical Laboratory       Serum
..         ...                                                ...         ...
524        525                       Superbio Clinical Laboratory       Serum
525        526                       Superbio Clinical Laboratory       Serum
526        527                       Superbio Clinical Laboratory       Serum
527        528                       Superbio Clinical Laboratory       Serum
528        529                       Superbio Clinical Laboratory       Serum

    IgM (+/-) IgG  (+/-) M+G  (+/-) Control PCR  \
0           +          +          +       +   +
1           +          +          +       +   +
2           +          +          +       +   +
3           +          +          +       +   +
4           +          +          +       +   +
..        ...        ...        ...     ...  ..
524         +          +          +       +   +
525         +          +          +       +   +
526         +          +          +       +   +
527         +          +          +       +   +
528         +          +          +       +   +

     Days from Symptom Onset to Blood Collection
0                                           15.0
1                                           16.0
2                                           18.0
3                                           19.0
4                                           20.0
..                                           ...
524                                          6.0
525                                          7.0
526                                          6.0
527                                          7.0
528                                          6.0

[529 rows x 9 columns]>

In [6]:
sb_single = sb.groupby('Sample Type')

In [9]:
for name,group in sb_single:
    print(name)
    print(group)

Plasma
     Sample ID                  Institution  Sample Type IgM (+/-) IgG  (+/-)  \
23          24  Superbio Clinical Laboratory      Plasma         -          -
24          25  Superbio Clinical Laboratory      Plasma         -          -
25          26  Superbio Clinical Laboratory      Plasma         -          -
26          27  Superbio Clinical Laboratory      Plasma         -          -
27          28  Superbio Clinical Laboratory      Plasma         -          -
..         ...                           ...         ...       ...        ...
403        404  Superbio Clinical Laboratory      Plasma         -          -
404        405  Superbio Clinical Laboratory      Plasma         -          -
405        406  Superbio Clinical Laboratory      Plasma         -          -
406        407  Superbio Clinical Laboratory      Plasma         -          -
407        408  Superbio Clinical Laboratory      Plasma         -          -

    M+G  (+/-) Control PCR  Days from Symptom Onset to Blood Collection
23           -       +   -                                          NaN
24           -       +   -                                          NaN
25           -       +   -                                          NaN
26           -       +   -                                          NaN
27           -       +   -                                          NaN
..         ...     ...  ..                                          ...
403          -       +   -                                          NaN
404          -       +   -                                          NaN
405          -       +   -                                          NaN
406          -       +   -                                          NaN
407          -       +   -                                          NaN

[307 rows x 9 columns]
Serum
     Sample ID                                       Institution  Sample Type  \
0            1  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
1            2  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
2            3  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
3            4  Clinical Laboratory of Jingdezhen NO.1 People'...       Serum
4            5                       Superbio Clinical Laboratory       Serum
..         ...                                                ...         ...
524        525                       Superbio Clinical Laboratory       Serum
525        526                       Superbio Clinical Laboratory       Serum
526        527                       Superbio Clinical Laboratory       Serum
527        528                       Superbio Clinical Laboratory       Serum
528        529                       Superbio Clinical Laboratory       Serum

    IgM (+/-) IgG  (+/-) M+G  (+/-) Control PCR  \
0           +          +          +       +   +
1           +          +          +       +   +
2           +          +          +       +   +
3           +          +          +       +   +
4           +          +          +       +   +
..        ...        ...        ...     ...  ..
524         +          +          +       +   +
525         +          +          +       +   +
526         +          +          +       +   +
527         +          +          +       +   +
528         +          +          +       +   +

     Days from Symptom Onset to Blood Collection
0                                           15.0
1                                           16.0
2                                           18.0
3                                           19.0
4                                           20.0
..                                           ...
524                                          6.0
525                                          7.0
526                                          6.0
527                                          7.0
528                                          6.0

[222 rows x 9 columns]

In [7]:
sb_single.size()

Sample Type
Plasma    307
Serum     222
dtype: int64

In [16]:
sb[sb.duplicated('Sample ID')]

Empty DataFrame
Columns: [Sample ID, Institution , Sample Type, IgM (+/-), IgG  (+/-), M+G  (+/-), Control, PCR, Days from Symptom Onset to Blood Collection]
Index: []

In [61]:
sb_single = sb.groupby('Sample Type')
sb_single.size()

Sample Type
Fingerstick blood    345
Plasma                83
Serum                101
dtype: int64

In [8]:
import numpy as np
import pandas as pd

In [9]:
sy = pd.read_excel('第三方医学检验所名录.xlsx',sheet_name='上海')
sy2 = pd.read_excel('第三方医学检验所名录.xlsx',sheet_name='北京')
data = pd.concat([sy,sy2])
data.shape

(166, 8)

In [96]:
sy2 = pd.read_excel('第三方医学检验所名录.xlsx',sheet_name='西藏')
data = pd.concat([data,sy2])

In [101]:
data.shape

(1224, 8)

In [186]:
data

0       上海方程医学检验所有限公司
1     上海兰卫医学检验所股份有限公司
2       上海中检医学检验所有限公司
3      上海思路迪医学检验所有限公司
4       上海伯豪医学检验所有限公司
           ...
13                 暂无
14                 暂无
15                 暂无
16                 暂无
0        西藏华大医学检验有限公司
Name: 单位名称, Length: 1224, dtype: object

In [ ]:
type(df)

In [11]:
sy1 = pd.ExcelFile('第三方医学检验所名录.xlsx')

In [21]:
sy1.sheet_names

['北京',
 '广东',
 '江苏',
 '上海',
 '浙江',
 '四川',
 '河南',
 '福建',
 '湖北',
 '合肥',
 '重庆',
 '陕西',
 '湖南',
 '辽宁',
 '天津',
 '云南',
 '江西',
 '广西',
 '山西',
 '贵州',
 '吉林',
 '黑龙江',
 '内蒙古',
 '新疆',
 '甘肃',
 '宁夏',
 '海南',
 '西藏']

In [ ]:
data = pd.DataFrame()
for  name  in sy1.sheet_names:
    d = pd.read_excel('第三方医学检验所名录.xlsx',sheet_name= name,fillNaN = '暂无')
    data = pd.concat([data,d])
data.shape

In [25]:
data.info

<bound method DataFrame.info of       序号             单位名称                                               主营业务  \
0    1.0  \n北京康旭医学检验所有限公司  北京康旭医学检验所（华康基因）是专业从事细胞分子遗传学专业检测的高新技术企业，能够出示临床检...
1    2.0    北京博奥医学检验所有限公司  北京博奥医学检验所有限公司位于北京经济技术开发区亦庄生物医药园，是国内领先的第三方独立医学检...
2    3.0    北京元和医学检验所有限公司  北京元和医学检验所有限公司基于高通量基因测序技术、质谱检测技术及数字化健康管理技术等为临床疾...
3    4.0    北京贝康医学检验所有限公司  北京贝康医学检验中心专注于遗传诊断，主要从事常见成人及儿童遗传性疾病的筛查和诊断，不孕不育的...
4    5.0    北京智德医学检验所有限公司  智德臻和是一家眼内液医学检测机构，集眼内液医学检验、眼内药物载体、眼科疾病诊疗平台研发与应用...
..   ...              ...                                                ...
13  14.0              NaN                                                NaN
14  15.0              NaN                                                NaN
15  16.0              NaN                                                NaN
16  17.0              NaN                                                NaN
0    1.0     西藏华大医学检验有限公司                           拉萨市柳梧新区柳梧大桥南桥头华大基因3楼301室

                                                 服务项目  \
0   1、大健康：HE-JK0401：儿童基因健康体检  HE-JK0402：儿童天赋基因检测  ...
1   1、出生缺陷及遗传病检测（诺尔康无创产前基因检测、叶酸利用能力基因检测、新生儿遗传性耳聋基因...
2                                                 无网站
3                                                 NaN
4   独有微量液精确检验技术和微流控病原核酸检测芯片技术，现开展临床免疫血清学、临床细胞分子遗传学...
..                                                ...
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
0                                                 NaN

                                                地址            电话  \
0   北京市海淀区杏石口路益园文化创意产业基地C区(西杉创意园四区)10号楼二层201-203\n  010-82444060
1                     北京市北京经济技术开发区科创六街88号院9号楼1、2单元  010-69002900
2                      北京市昌平区科技园区生命园路29号1幢B316-87室  010-87870345
3                   北京市北京经济技术开发区科创六街88号院2号楼三单元201室      56315119
4                    北京市顺义区仁和镇澜西园三区37号楼二层(科技创新功能区)  010-57515235
..                                             ...           ...
13                                             NaN           NaN
14                                             NaN           NaN
15                                             NaN           NaN
16                                             NaN           NaN
0                                              NaN           NaN

                        网址                         邮箱
0        www.kangso.net.cn         wei.wei@kangso.net
1            www.biodx.com  weisun@capitalbiotech.com
2         www.yohecare.com       liupeng@yohecare.com
3   www.beijingbeikang.com           517696163@qq.com
4      www.zhidezhenhe.com          2383318612@qq.com
..                     ...                        ...
13                     NaN                        NaN
14                     NaN                        NaN
15                     NaN                        NaN
16                     NaN                        NaN
0                      NaN                        NaN

[1159 rows x 8 columns]>

In [213]:
data[data.str.contains('康圣')]

19        四川华西康圣达医学检验有限公司
3          河南康圣达医学检验所有限公司
4           南阳康圣医学检验所有限公司
7         安阳康圣环球医学检验所有限公司
3          武汉康圣达医学检验所有限公司
7     新疆康圣达医嘉利医学检验所（有限公司）
0         海南康圣环球医学检验所有限公司
Name: 单位名称, dtype: object

In [157]:
type(df)

str

In [159]:
d = [str(x) for x in d ]
df =  '.'.join(d)

In [99]:
sy_name = data['单位名称'].str.split('',expand = True)

In [114]:
sy_name.apply(lambda x: list(x),axis=1)
syl = list(sy_name.apply(lambda x: list(x),axis=1))

In [115]:
syll = [i for item in syl for i in item]

In [3]:
from collections import Counter
from textrank4zh import TextRank4Keyword

In [ ]:
Counter(syll).most_common(1)[0][0]

In [6]:
tr4w = TextRank4Keyword()
tr4w.analyze(text=df, window=5, lower=True)

NameError: name 'df' is not defined

In [4]:
for item in tr4w.get_keywords(num=150, word_min_len=1):
    print (item.word, item.weight)

NameError: name 'tr4w' is not defined

In [170]:
tr4w.get_keywords(num=50, word_min_len=1)

[{'word': '有限公司', 'weight': 0.0736963541541901},
 {'word': '医学', 'weight': 0.07159635613349999},
 {'word': '检验所', 'weight': 0.05519917272000909},
 {'word': '检验', 'weight': 0.03069683876337645},
 {'word': '实验室', 'weight': 0.028944334505932576},
 {'word': '北京', 'weight': 0.012693316001857864},
 {'word': '上海', 'weight': 0.009950986792084242},
 {'word': '科技', 'weight': 0.008503172395255186},
 {'word': '医疗', 'weight': 0.006453194504378983},
 {'word': 'nan', 'weight': 0.005936348499401885},
 {'word': '广州', 'weight': 0.0058944740059570806},
 {'word': '迪安', 'weight': 0.005854121720580467},
 {'word': '杭州', 'weight': 0.0054955198127162935},
 {'word': '康', 'weight': 0.005233239952680181},
 {'word': '技术', 'weight': 0.005084267742545056},
 {'word': '有限责任', 'weight': 0.005039636640890513},
 {'word': '生物科技', 'weight': 0.005010554794202126},
 {'word': '郑州', 'weight': 0.004687087707323099},
 {'word': '深圳', 'weight': 0.004686502199886712},
 {'word': '武汉', 'weight': 0.004679093032180118},
 {'word': '基因', 'weight': 0.004610137518782183},
 {'word': '重庆', 'weight': 0.0044673674308415914},
 {'word': '公司', 'weight': 0.004352120669995403},
 {'word': '金域', 'weight': 0.004016402615189684},
 {'word': '长沙', 'weight': 0.003986679094756043},
 {'word': '南京', 'weight': 0.003926630837635423},
 {'word': '天津', 'weight': 0.0036845277200636415},
 {'word': '合伙', 'weight': 0.003553676865848494},
 {'word': '安徽', 'weight': 0.003303362521273234},
 {'word': '成都', 'weight': 0.003230946302784267},
 {'word': '研究所', 'weight': 0.0032096535521788693},
 {'word': '湖南', 'weight': 0.003151067211037049},
 {'word': '股份', 'weight': 0.003013345649878034},
 {'word': '福州', 'weight': 0.003001969000720282},
 {'word': '精准', 'weight': 0.0029865814163319545},
 {'word': '苏州', 'weight': 0.0029506783006868357},
 {'word': '中心', 'weight': 0.0028933203388674185},
 {'word': '艾迪', 'weight': 0.0027858333170941575},
 {'word': '云南', 'weight': 0.0027640247998645057},
 {'word': '华大', 'weight': 0.0026909251988707973},
 {'word': '分公司', 'weight': 0.0026796872773670916},
 {'word': '兰卫', 'weight': 0.0026736372429212395},
 {'word': '合肥', 'weight': 0.0026464255733754023},
 {'word': '检测', 'weight': 0.0026295370056273514},
 {'word': '生物', 'weight': 0.0025787090180167034},
 {'word': '宁波', 'weight': 0.0025152271223081073},
 {'word': '河南', 'weight': 0.0024879668480760468},
 {'word': '美康', 'weight': 0.0024353841578691575},
 {'word': '寰基', 'weight': 0.00243154393905599},
 {'word': '盛德', 'weight': 0.0024142856598579087}]

In [16]:
sy_name.T

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,,,,,,,,,,,...,,,,,,,,,,
1,上,上,上,上,上,上,上,上,上,上,...,上,上,上,上,上,上,上,上,上,上
2,海,海,海,海,海,海,海,海,海,海,...,海,海,海,海,海,海,海,海,海,海
3,方,兰,中,思,伯,千,裕,康,芯,亿,...,金,亚,裕,泰,英,荻,细,申,泰,世
4,程,卫,检,路,豪,麦,隆,黎,超,康,...,匙,可,隆,思,飞,硕,胞,医,思,济
5,医,医,医,迪,医,博,医,医,医,医,...,医,生,神,特,医,贝,治,生,特,医
6,学,学,学,医,学,米,学,学,学,学,...,学,物,光,生,疗,肯,疗,殖,医,学
7,检,检,检,学,检,乐,检,检,检,检,...,检,技,医,命,科,基,集,医,学,检
8,验,验,验,检,验,医,验,验,验,验,...,验,术,学,科,技,因,团,学,检,验
9,所,所,所,验,所,学,所,所,所,所,...,实,有,检,技,有,科,有,研,验,所
10,有,股,有,所,有,检,股,有,有,有,...,验,限,验,有,限,技,限,究,所,
11,限,份,限,有,限,验,份,限,限,限,...,室,公,实,限,公,有,公,所,,None
12,公,有,公,限,公,所,有,公,公,公,...,有,司,验,公,司,限,司,,None,None
13,司,限,司,公,司,有,限,司,司,司,...,限,,室,司,,公,,None,None,None
14,,公,,司,,限,公,,,,...,公,None,有,,None,司,None,None,None,None
15,None,司,None,,None,公,司,None,None,None,...,司,None,限,None,None,,None,None,None,None
16,None,,None,None,None,司,,None,None,None,...,,None,公,None,None,None,None,None,None,None
17,None,None,None,None,None,,None,None,None,None,...,None,None,司,None,None,None,None,None,None,None
18,None,None,None,None,None,None,None,None,None,None,...,None,None,,None,None,None,None,None,None,None
19,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None